vault/assets/images/2021-12-21-10-34-00.png filter=lfs diff=lfs merge=lfs -text
vault/assets/images/2021-12-21-10-34-51.png filter=lfs diff=lfs merge=lfs -text
vault/assets/images/2021-12-21-10-35-02.png filter=lfs diff=lfs merge=lfs -text
vault/assets/documents/Karis_Nanite_SIGGRAPH_Advances_2021_final.pdf filter=lfs diff=lfs merge=lfs -text
vault/assets/documents/affine_2d.ipynb filter=lfs diff=lfs merge=lfs -text
